/* Outline for debug */
* {
	/* outline: 1px solid red; */
}

/* Light dark support */
:root {
	color-scheme: light dark;
}

:root[data-theme="dark"] {
	color-scheme: dark;
}

:root[data-theme="light"] {
	color-scheme: light;
}


/* Variables */
body {
	--background-primary: light-dark(#F4EBE6, #151515);
	--background-secondary: light-dark(#efdbd1, #101010);
	--text-color: light-dark(#404040, #ffffff);
	--text-color-secondary: light-dark(#343434, #d5d5d5);

	--background-code: light-dark(var(--background-secondary), #1E1E1E);
	--border-code: #2b2b2b;

	/* --accent-color: #6F8C51; */
	--accent-color: #4D7327;
	--accent-lighter: #aac98a;
	--accent-darker: #305709;

	--content-width: 800px;
	--content-width-wide: 900px;
}

body {
	color: var(--text-color);
	background-color: var(--background-primary);
}

body {
	font-size: 18px;
	min-height: 100vh;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

body>* {
	width: 100%;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	color: light-dark(var(--accent-darker), var(--accent-lighter));
}

/* https://modernfontstacks.com/ */
body {
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-weight: 100;
}